openapi: 3.0.1
info:
  description: ""
  title: ""
  version: 2.5.1
servers:
- url: https://od-api.oxforddictionaries.com/api/v2
paths:
  /domains/{source_lang_domains}/{target_lang_domains}:
    get:
      description: |
        Returns a list of the available [domains](documentation/glossary?term=domain) for a given bilingual language dataset.
      parameters:
      - description: Language code of the source language in a bilingual dataset.
        in: path
        name: source_lang_domains
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - ha
          - hi
          - id
          - it
          - mr
          - ms
          - nso
          - pt
          - qu
          - ru
          - te
          - tk
          - tn
          - tpi
          - tt
          - ur
          - xh
          - zh
          - zu
          type: string
      - description: Language code of the target language in a bilingual dataset.
        in: path
        name: target_lang_domains
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - fa
          - ha
          - hi
          - id
          - ig
          - it
          - ka
          - mr
          - ms
          - nso
          - pt
          - qu
          - ro
          - ru
          - tg
          - tk
          - tn
          - tpi
          - tt
          - xh
          - yo
          - zh
          - zu
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: source_lang and target_lang can not be same.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available domains in a bilingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /domains/{source_lang}:
    get:
      description: |
        Returns a list of the available [domains](documentation/glossary?term=domain) for a given monolingual language dataset.
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - fr
          - gu
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available domains in a monolingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /entries/{source_lang}/{word_id}:
    get:
      description: |2

        Use this to retrieve definitions, [pronunciations](documentation/glossary?term=pronunciation), example sentences, [grammatical information](documentation/glossary?term=grammaticalfeatures) and [word origins](documentation/glossary?term=etymology).

        TIP: Entries ONLY works for dictionary headwords. You may need to use the Lemmas endpoint first to link an inflected form back to its headword (e.g., pixels --> pixel). Alternatively, you can use the Words endpoint, a feature that enables you to retrieve definitions, pronunciations, word origins, and grammatical data across headwords and inflected words with just one call to the API.

        Use filters to limit the [entry](documentation/glossary?term=entry) information that is returned. For example, you may only require definitions and not everything else, or just [pronunciations](documentation/glossary?term=pronunciation). The full list of filters can be retrieved from the filters Utility endpoint. You can also specify values within the filter using '='. For example 'grammaticalFeatures=singular'. Filters can also be combined.

        Combining different filters will build a query using 'AND' operators, while if a filter contains more than one value it will build a query using 'OR' operators. For example, a combination of filters like '?grammaticalFeatures=singular&lexicalCategory=noun,verb' will return entries which match the query ('noun' OR 'verb') AND 'singular'.

        <div id="dictionary_entries_filters"></div>
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - fr
          - gu
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: The identifier for an Entry (case-sensitive).
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          type: string
      - allowEmptyValue: false
        description: |
          A comma-separated list of data fields to return for the matched entries.
          Valid field names are 'definitions', 'domains', 'etymologies', 'examples', 'pronunciations', 'regions', 'registers' and 'variantForms'.
          (a) If not specified, all available fields for each word_id are returned.
          (b) If specified and empty, the minimum payload for each word_id is returned.
          (c) If more field names are specified, then the minimum payload plus the specified fields for each word_id are returned.
        explode: false
        in: query
        name: fields
        schema:
          items:
            enum:
            - definitions
            - domains
            - etymologies
            - examples
            - pronunciations
            - regions
            - registers
            - variantForms
            type: string
          type: array
        style: form
      - description: |
          Selection filter: a comma-separated list of grammatical features ids to match on (default: all features).
          The available grammatical features for a given language (or language pair) can be obtained from the /grammaticalfeatures/ endpoint.

          The filter keeps all the entries in the response whose grammaticalFeatures "id" matches the values in the grammaticalFeatures parameter.
          ```@javascript
          {
            "grammaticalFeatures": [
                                    {
                                        "id": "mass",
                                        "text": "Mass",
                                        "type": "Countability"
                                    }
                                ]
          }
          ```
        in: query
        name: grammaticalFeatures
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of lexical categories ids to match on (default: all categories).
          The available lexical categories for a given language (or language pair) can be obtained from the /lexicalcategories/ endpoint.

          The filter keeps all the entries in the response whose lexicalCategory "id" matches the values in the lexicalCategory parameter.
          ```@javascript
          {
            "lexicalCategory": {
                            "id": "adjective",
                            "text": "Adjective"
                        }
          }
          ```
        in: query
        name: lexicalCategory
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of domains ids to match on (default: all domains).
          The available domains for a given language (or language pair) can be obtained from the /domains/ endpoint.

          The filter keeps all the senses and subsenses in the response whose domains "id" matches the values in the domains parameter.

          ```@javascript
          {
            "domains": [
              {
                "id": "jazz",
                "text": "Jazz"

              }]
          }
          ```
        in: query
        name: domains
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of registers ids to match on (default: all registers).
          The available registers for a given language (or language pair) can be obtained from the /registers/ endpoint.

          The filter keeps all the senses and subsenses in the response whose registers "id" matches the values in the registers parameter.

          ```@javascript
          {
            "registers": [
              {
                "id": "informal",
                "text": "Informal"

              }]
          }
          ```
        in: query
        name: registers
        schema:
          type: string
      - description: "Specifies whether diacritics must match exactly. If \"false\"\
          , near-homographs for the given word_id will also be selected (e.g., *rose*\
          \ matches both *rose* and *rosé*; similarly *rosé* matches both)."
        in: query
        name: strictMatch
        schema:
          default: false
          type: boolean
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RetrieveEntry'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            Invalid value for filters such as lexicalCategory, registers, domains, etc.
            Invalid value for fields projections accepted. It is not possible to project a non-existing field.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters; OR
            an invalid filter was specified.
        "414":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: URL is too long.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieve dictionary information for a given word
      tags:
      - Entries
      x-accepts: '*/*'
  /fields:
    get:
      description: |
        Returns a list of the available fields to construct API requests.
      parameters:
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Filters'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
      summary: Lists available fields
      tags:
      - Utility
      x-accepts: '*/*'
  /fields/{endpoint}:
    get:
      description: |
        Returns the lists of fields available to construct API requests for a given endpoint.
      parameters:
      - description: Name of the endpoint
        in: path
        name: endpoint
        required: true
        schema:
          enum:
          - entries
          - thesaurus
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Filters'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            Unknown endpoint.
      summary: Lists available fields for specific endpoint
      tags:
      - Utility
      x-accepts: '*/*'
  /filters:
    get:
      description: |
        Returns a list of all the valid filters to construct API requests.
      parameters:
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Filters'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
      summary: Lists available filters
      tags:
      - Utility
      x-accepts: '*/*'
  /filters/{endpoint}:
    get:
      description: |
        Returns a list of all the valid filters by endpoint to construct API requests.
      parameters:
      - description: Name of the endpoint.
        in: path
        name: endpoint
        required: true
        schema:
          enum:
          - entries
          - lemmas
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Filters'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            Unknown endpoint.
      summary: Lists available filters for specific endpoint
      tags:
      - Utility
      x-accepts: '*/*'
  /grammaticalFeatures/{source_lang_grammatical}/{target_lang_grammatical}:
    get:
      description: |
        Returns a list of the available [grammatical features](documentation/glossary?term=grammaticalfeatures) for a given bilingual dataset.
      parameters:
      - description: Language code of the source language in a bilingual dataset.
        in: path
        name: source_lang_grammatical
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - ha
          - hi
          - id
          - it
          - mr
          - ms
          - nso
          - pt
          - qu
          - ru
          - te
          - tk
          - tn
          - tpi
          - tt
          - ur
          - xh
          - zh
          - zu
          type: string
      - description: Language code of the target language in a bilingual dataset.
        in: path
        name: target_lang_grammatical
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - fa
          - ha
          - hi
          - id
          - ig
          - it
          - ka
          - mr
          - ms
          - nso
          - pt
          - qu
          - ro
          - ru
          - tg
          - tk
          - tn
          - tpi
          - tt
          - xh
          - yo
          - zh
          - zu
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: source_lang and target_lang can not be same.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available grammatical features in a bilingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /grammaticalFeatures/{source_lang}:
    get:
      description: |
        Returns a list of the available [grammatical features](documentation/glossary?term=grammaticalfeatures) for a given monolingual dataset.
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - fr
          - gu
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available grammatical features in a monolingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /inflections/{source_lang}/{word_id}:
    get:
      description: |
        Retrieve all the [inflections](documentation/glossary?term=inflection) of a given word_id. The inflections
        are given for a lexicalEntry with a specific lexicalCategory.
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: The identifier for an Entry (case-sensitive).
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          type: string
      - description: "Specifies whether diacritics must match exactly. If \"false\"\
          , near-homographs for the given word_id will also be selected (e.g., *rose*\
          \ matches both *rose* and *rosé*; similarly *rosé* matches both)."
        in: query
        name: strictMatch
        schema:
          default: false
          type: boolean
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Inflections'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters; OR
            an invalid filter was specified.
        "414":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: URL is too long.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieves the inflected forms of a given word.
      tags:
      - Inflections
      x-accepts: '*/*'
  /languages:
    get:
      description: |
        Returns the names of monolingual and bilingual language datasets available in the API
      parameters:
      - description: "Source Language. If provided, output will be filtered by sourceLanguage."
        in: query
        name: sourceLanguage
        schema:
          type: string
      - description: "Target Language. If provided, output will be filtered by targetLanguage."
        in: query
        name: targetLanguage
        schema:
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Languages'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: source_lang and target_lang can not be same.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Returns the names of Dictionaries in the API
      tags:
      - Utility
      x-accepts: '*/*'
  /lemmas/{source_lang}/{word_id}:
    get:
      description: |2

        Use this to check if a word exists in the dictionary, or what 'root' form it links to (e.g., swimming > swim). The response tells you the possible [lemmas](documentation/glossary?term=lemma) for a given [inflected](documentation/glossary?term=inflection) word. This can then be combined with other endpoints to retrieve more information.

        The results can be filtered by lexicalCategories and/or grammaticalFeatures. Filters can be combined.

        Combining different filters will build a query using 'AND' operators, while if a filter contains more than one value it will build a query using 'OR' operators. For example, a combination of filters like '?grammaticalFeatures=singular&lexicalCategory=noun,verb' will return entries which match the query ('noun' OR 'verb') AND 'singular'.
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - de
          - es
          - hi
          - it
          - lv
          - pt
          - ro
          - sw
          - ta
          - tn
          type: string
      - description: The identifier for an Entry (case-sensitive).
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          type: string
      - description: |
          Selection filter: a comma-separated list of grammatical features ids to match on (default: all features).
          The available grammatical features for a given language (or language pair) can be obtained from the /grammaticalfeatures/ endpoint.

          The filter keeps all the entries in the response whose grammaticalFeatures "id" matches the values in the grammaticalFeatures parameter.
          ```@javascript
          {
            "grammaticalFeatures": [
                                    {
                                        "id": "mass",
                                        "text": "Mass",
                                        "type": "Countability"
                                    }
                                ]
          }
          ```
        in: query
        name: grammaticalFeatures
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of lexical categories ids to match on (default: all categories).
          The available lexical categories for a given language (or language pair) can be obtained from the /lexicalcategories/ endpoint.

          The filter keeps all the entries in the response whose lexicalCategory "id" matches the values in the lexicalCategory parameter.
          ```@javascript
          {
            "lexicalCategory": {
                            "id": "adjective",
                            "text": "Adjective"
                        }
          }
          ```
        in: query
        name: lexicalCategory
        schema:
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Lemmatron'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            Invalid value for filters such as lexicalCategory, registers, domains, etc.
            Invalid value for fields projections accepted. It is not possible to project a non-existing field.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters; OR
            an invalid filter was specified.
        "414":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: URL is too long.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Check a word exists in the dictionary and retrieve its root form
      tags:
      - Lemmas
      x-accepts: '*/*'
  /lexicalCategories/{source_lang_lexical}/{target_lang_lexical}:
    get:
      description: |
        Returns a list of available [lexical categories](documentation/glossary?term=lexicalcategory) for a given bilingual dataset.
      parameters:
      - description: Language code of the source language in a bilingual dataset.
        in: path
        name: source_lang_lexical
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - ha
          - hi
          - id
          - it
          - mr
          - ms
          - nso
          - pt
          - qu
          - ru
          - te
          - tk
          - tn
          - tpi
          - tt
          - ur
          - xh
          - zh
          - zu
          type: string
      - description: Language code of the target language in a bilingual dataset.
        in: path
        name: target_lang_lexical
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - fa
          - ha
          - hi
          - id
          - ig
          - it
          - ka
          - mr
          - ms
          - nso
          - pt
          - qu
          - ro
          - ru
          - tg
          - tk
          - tn
          - tpi
          - tt
          - xh
          - yo
          - zh
          - zu
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available lexical categories in a bilingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /lexicalCategories/{source_lang}:
    get:
      description: |
        Returns a list of available [lexical categories](documentation/glossary?term=lexicalcategory) for a given language dataset.
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - fr
          - gu
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available lexical categories in a monolingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /registers/{source_lang_registers}/{target_lang_registers}:
    get:
      description: |
        Returns a list of the available [registers](documentation/glossary?term=registers) for a given bilingual language dataset.
      parameters:
      - description: Language code of the source language in a bilingual dataset.
        in: path
        name: source_lang_registers
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - ha
          - hi
          - id
          - it
          - mr
          - ms
          - nso
          - pt
          - qu
          - ru
          - te
          - tk
          - tn
          - tpi
          - tt
          - ur
          - xh
          - zh
          - zu
          type: string
      - description: Language code of the target language in a bilingual dataset.
        in: path
        name: target_lang_registers
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - fa
          - ha
          - hi
          - id
          - ig
          - it
          - ka
          - mr
          - ms
          - nso
          - pt
          - qu
          - ro
          - ru
          - tg
          - tk
          - tn
          - tpi
          - tt
          - xh
          - yo
          - zh
          - zu
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: source_lang and target_lang can not be same.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available registers in a bilingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /registers/{source_lang}:
    get:
      description: |
        Returns a list of the available [registers](documentation/glossary?term=registers) for a given monolingual language dataset.
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - fr
          - gu
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Unknown sourceLanguage and/or targetLanguage.
      summary: Lists available registers in a  monolingual dataset
      tags:
      - Utility
      x-accepts: '*/*'
  /search/thesaurus/{source_lang}:
    get:
      description: |2

        Use this to retrieve possible [headword](documentation/glossary?term=headword) matches for a given string of text. The results are calculated using headword matching, fuzzy matching, and [lemmatization](documentation/glossary?term=lemma).

          <div id="search"></div>
      parameters:
      - description: Language code of the source language in a Thesaurus dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          type: string
      - description: Search string
        in: query
        name: q
        required: true
        schema:
          type: string
      - description: Use prefix=true to return only results that start with the value
          of the "q" parameter.
        in: query
        name: prefix
        schema:
          type: boolean
      - description: Restricts number of returned results. Default and max. is 5000.
        in: query
        name: limit
        schema:
          type: integer
      - description: Pagination - results offset.  The sum of offset and limit must
          not exceed 10000.
        in: query
        name: offset
        schema:
          type: integer
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Wordlist'
          description: Successful response. The Search endpoint is able to retrieve
            a max of 10000 results per query.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: source_lang and target_lang can not be same; no words matching
            source_lang and/or translations; offset and limit exceeded 10000 together.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieves possible dictionary matches to an input string
      tags:
      - Search
      x-accepts: '*/*'
  /search/translations/{source_lang_search}/{target_lang_search}:
    get:
      description: |2

        Use this to find possible headwords with translations for a given word.

        <div id="search_translation"></div>
      parameters:
      - description: Language code of the source language in a bilingual dataset.
        in: path
        name: source_lang_search
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - ha
          - hi
          - id
          - it
          - mr
          - ms
          - nso
          - pt
          - qu
          - ru
          - te
          - tk
          - tn
          - tpi
          - tt
          - ur
          - xh
          - zh
          - zu
          type: string
      - description: Language code of the target language in a bilingual dataset.
        in: path
        name: target_lang_search
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - fa
          - ha
          - hi
          - id
          - ig
          - it
          - ka
          - mr
          - ms
          - nso
          - pt
          - qu
          - ro
          - ru
          - tg
          - tk
          - tn
          - tpi
          - tt
          - xh
          - yo
          - zh
          - zu
          type: string
      - description: Search string
        in: query
        name: q
        required: true
        schema:
          type: string
      - description: Use prefix=true to return only results that start with the value
          of the "q" parameter.
        in: query
        name: prefix
        schema:
          type: boolean
      - description: Restricts number of returned results. Default and max. is 5000.
        in: query
        name: limit
        schema:
          type: integer
      - description: pagination - results offset.  The sum of offset and limit must
          not exceed 10000.
        in: query
        name: offset
        schema:
          type: integer
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Wordlist'
          description: Successful response. The Search endpoint is able to retrieve
            a max of 10000 results per query.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: source_lang and target_lang can not be same; no words matching
            source_lang and/or translations; offset and limit exceeded 10000 together.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieves possible headwords with translations
      tags:
      - Search
      x-accepts: '*/*'
  /search/{source_lang}:
    get:
      description: |2

        Use this to retrieve possible [headword](documentation/glossary?term=headword) matches for a given string of text. The results are calculated using headword matching, fuzzy matching, and [lemmatization](documentation/glossary?term=lemma).

          <div id="search"></div>
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - fr
          - gu
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: Search string
        in: query
        name: q
        required: true
        schema:
          type: string
      - description: Use prefix=true to return only results that start with the value
          of the "q" parameter.
        in: query
        name: prefix
        schema:
          type: boolean
      - description: Restricts number of returned results. Default and max. is 5000.
        in: query
        name: limit
        schema:
          type: integer
      - description: Pagination - results offset.  The sum of offset and limit must
          not exceed 10000.
        in: query
        name: offset
        schema:
          type: integer
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Wordlist'
          description: Successful response. The Search endpoint is able to retrieve
            a max of 10000 results per query.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: source_lang and target_lang can not be same; no words matching
            source_lang and/or translations; offset and limit exceeded 10000 together.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieves possible dictionary matches to an input string
      tags:
      - Search
      x-accepts: '*/*'
  /sentences/{source_lang}/{word_id}:
    get:
      description: |2

        Use this to retrieve sentences extracted from a corpus of real-world language, including news and blog content. This is available for English and Spanish. For English, the sentences are linked to the correct [sense](documentation/glossary?term=sense) of the word in the dictionary. In Spanish, they are linked at the [headword](documentation/glossary?term=headword) level.
          <div id="sentences"></div>
      parameters:
      - description: Language code of the source language.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - es
          type: string
      - description: The identifier for an Entry (case-sensitive).
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          type: string
      - description: "Specifies whether diacritics must match exactly. If \"false\"\
          , near-homographs for the given word_id will also be selected (e.g., *rose*\
          \ matches both *rose* and *rosé*; similarly *rosé* matches both)."
        in: query
        name: strictMatch
        schema:
          default: false
          type: boolean
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SentencesResults'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters; OR
            an invalid filter was specified.
        "414":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: URL is too long.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieve real example sentences of a word in use
      tags:
      - Sentences
      x-accepts: '*/*'
  /thesaurus/{source_lang}/{word_id}:
    get:
      description: |
        Use this to retrieve words that are similar/opposite in meaning to the input word ([synonym](documentation/glossary?term=synonym)/[antonym](documentation/glossary?term=antonym)).

        Tip: Some Entries responses contain sense-level links to a Thesaurus entry by the property "thesaurusLink". For instance:

        ```@javascript
          {
            "thesaurusLinks": [
                                    {
                                        "entry_id": "abide_by",
                                        "sense_id": "t_en_gb0000029.003"
                                    }
                                ]
          }

        ```
        <div id="synonyms"></div>
      parameters:
      - description: Language code of the source language in a Thesaurus dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          type: string
      - description: The identifier for an Entry (case-sensitive).
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          type: string
      - allowEmptyValue: false
        description: |
          A comma-separated list of data fields to return for the matched entries.
          What to return - if specified, either 'synonyms', 'antonyms' or 'synonyms,antonyms'
          It cannot be empty.
        explode: false
        in: query
        name: fields
        schema:
          items:
            enum:
            - synonyms
            - antonyms
            type: string
          type: array
        style: form
      - description: "Specifies whether diacritics must match exactly. If \"false\"\
          , near-homographs for the given word_id will also be selected (e.g., *rose*\
          \ matches both *rose* and *rosé*; similarly *rosé* matches both)."
        in: query
        name: strictMatch
        schema:
          default: false
          type: boolean
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Thesaurus'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            Invalid value for filters such as lexicalCategory, registers, domains, etc.
            Invalid value for fields projections accepted. It is not possible to project a non-existing field.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters; OR
            an invalid filter was specified.
        "414":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: URL is too long.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieve words that are similar to a given word
      tags:
      - Thesaurus
      x-accepts: '*/*'
  /translations/{source_lang_translate}/{target_lang_translate}/{word_id}:
    get:
      description: |2

        Use this to return translations for a given word. In the event that a word in the dataset does not have a direct translation, the response will be a [definition](documentation/glossary?term=entry) in the target language.

          <div id="translation"></div>
      parameters:
      - description: Language code of the source language in a bilingual dataset.
        in: path
        name: source_lang_translate
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - ha
          - hi
          - id
          - it
          - mr
          - ms
          - nso
          - pt
          - qu
          - ru
          - te
          - tk
          - tn
          - tpi
          - tt
          - ur
          - xh
          - zh
          - zu
          type: string
      - description: Language code of the target language in a bilingual dataset.
        in: path
        name: target_lang_translate
        required: true
        schema:
          enum:
          - en
          - ar
          - de
          - el
          - es
          - fa
          - ha
          - hi
          - id
          - ig
          - it
          - ka
          - mr
          - ms
          - nso
          - pt
          - qu
          - ro
          - ru
          - tg
          - tk
          - tn
          - tpi
          - tt
          - xh
          - yo
          - zh
          - zu
          type: string
      - description: The identifier for an Entry (case-sensitive).
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          type: string
      - description: "Specifies whether diacritics must match exactly. If \"false\"\
          , near-homographs for the given word_id will also be selected (e.g., *rose*\
          \ matches both *rose* and *rosé*; similarly *rosé* matches both)."
        in: query
        name: strictMatch
        schema:
          default: false
          type: boolean
      - allowEmptyValue: false
        description: |
          A comma-separated list of data fields to return for the matched entries.
          Valid field names are 'definitions', 'domains', 'etymologies', 'examples', 'pronunciations', 'regions', 'registers', 'variantForms', 'translations'.
          (a) If not specified, all available fields for each word_id are returned.
          (b) If specified and empty, the minimum payload for each word_id is returned.
          (c) If more field names are specified, then the minimum payload plus the specified fields for each word_id are returned.
        explode: false
        in: query
        name: fields
        schema:
          items:
            enum:
            - definitions
            - domains
            - etymologies
            - examples
            - pronunciations
            - regions
            - registers
            - variantForms
            - translations
            type: string
          type: array
        style: form
      - description: |
          Selection filter: a comma-separated list of grammatical features ids to match on (default: all features).
          The available grammatical features for a given language (or language pair) can be obtained from the /grammaticalfeatures/ endpoint.

          The filter keeps all the entries in the response whose grammaticalFeatures "id" matches the values in the grammaticalFeatures parameter.
          ```@javascript
          {
            "grammaticalFeatures": [
                                    {
                                        "id": "mass",
                                        "text": "Mass",
                                        "type": "Countability"
                                    }
                                ]
          }
          ```
        in: query
        name: grammaticalFeatures
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of lexical categories ids to match on (default: all categories).
          The available lexical categories for a given language (or language pair) can be obtained from the /lexicalcategories/ endpoint.

          The filter keeps all the entries in the response whose lexicalCategory "id" matches the values in the lexicalCategory parameter.
          ```@javascript
          {
            "lexicalCategory": {
                            "id": "adjective",
                            "text": "Adjective"
                        }
          }
          ```
        in: query
        name: lexicalCategory
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of domains ids to match on (default: all domains).
          The available domains for a given language (or language pair) can be obtained from the /domains/ endpoint.

          The filter keeps all the senses and subsenses in the response whose domains "id" matches the values in the domains parameter.

          ```@javascript
          {
            "domains": [
              {
                "id": "jazz",
                "text": "Jazz"

              }]
          }
          ```
        in: query
        name: domains
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of registers ids to match on (default: all registers).
          The available registers for a given language (or language pair) can be obtained from the /registers/ endpoint.

          The filter keeps all the senses and subsenses in the response whose registers "id" matches the values in the registers parameter.

          ```@javascript
          {
            "registers": [
              {
                "id": "informal",
                "text": "Informal"

              }]
          }
          ```
        in: query
        name: registers
        schema:
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RetrieveTranslations'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            no bilingual entry is found matching supplied source_lang and id
            and/or that entry has no senses with translations in the target language.
        "414":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: URL is too long.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Retrieve translations for a given word
      tags:
      - Translations
      x-accepts: '*/*'
  /words/{source_lang}:
    get:
      description: |2

        Use this endpoint to retrieve definitions, examples and other information for a given dictionary word or an inflection (e.g., running > run). The response contains information about the lemmas to which the given word/inflected form is linked.

        The results can be filtered by lexicalCategories, domains, registers or grammaticalFeatures. Filters can be combined.

        In addition, users can use fields to project some of the properties.

        Combining different filters will build a query using 'AND' operators, while if a filter contains more than one value it will build a query using 'OR' operators. For example, a combination of filters like '?grammaticalFeatures=singular&lexicalCategory=noun,verb' will return entries which match the query ('noun' OR 'verb') AND 'singular'.
      parameters:
      - description: Language code of the source language in a monolingual dataset.
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en-gb
          - en-us
          - es
          - fr
          - gu
          - hi
          - lv
          - ro
          - sw
          - ta
          type: string
      - description: The word or inflection to retrieve. This parameter is NOT case-sensitive.
        in: query
        name: q
        required: true
        schema:
          default: swimming
          type: string
      - allowEmptyValue: false
        description: |
          A comma-separated list of data fields to return for the matched entries.
          Valid field names are 'definitions', 'domains', 'etymologies', 'examples', 'pronunciations', 'regions', 'registers' and 'variantForms'.
          (a) If not specified, all available fields for each word_id are returned.
          (b) If specified and empty, the minimum payload for each word_id is returned.
          (c) If more field names are specified, then the minimum payload plus the specified fields for each word_id are returned.
        explode: false
        in: query
        name: fields
        schema:
          items:
            enum:
            - definitions
            - domains
            - etymologies
            - examples
            - pronunciations
            - regions
            - registers
            - variantForms
            type: string
          type: array
        style: form
      - description: |
          Selection filter: a comma-separated list of grammatical features ids to match on (default: all features).
          The available grammatical features for a given language (or language pair) can be obtained from the /grammaticalfeatures/ endpoint.

          The filter keeps all the entries in the response whose grammaticalFeatures "id" matches the values in the grammaticalFeatures parameter.
          ```@javascript
          {
            "grammaticalFeatures": [
                                    {
                                        "id": "mass",
                                        "text": "Mass",
                                        "type": "Countability"
                                    }
                                ]
          }
          ```
        in: query
        name: grammaticalFeatures
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of lexical categories ids to match on (default: all categories).
          The available lexical categories for a given language (or language pair) can be obtained from the /lexicalcategories/ endpoint.

          The filter keeps all the entries in the response whose lexicalCategory "id" matches the values in the lexicalCategory parameter.
          ```@javascript
          {
            "lexicalCategory": {
                            "id": "adjective",
                            "text": "Adjective"
                        }
          }
          ```
        in: query
        name: lexicalCategory
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of domains ids to match on (default: all domains).
          The available domains for a given language (or language pair) can be obtained from the /domains/ endpoint.

          The filter keeps all the senses and subsenses in the response whose domains "id" matches the values in the domains parameter.

          ```@javascript
          {
            "domains": [
              {
                "id": "jazz",
                "text": "Jazz"

              }]
          }
          ```
        in: query
        name: domains
        schema:
          type: string
      - description: |
          Selection filter: a comma-separated list of registers ids to match on (default: all registers).
          The available registers for a given language (or language pair) can be obtained from the /registers/ endpoint.

          The filter keeps all the senses and subsenses in the response whose registers "id" matches the values in the registers parameter.

          ```@javascript
          {
            "registers": [
              {
                "id": "informal",
                "text": "Informal"

              }]
          }
          ```
        in: query
        name: registers
        schema:
          type: string
      - description: App ID Authentication Parameter
        in: header
        name: app_id
        required: true
        schema:
          type: string
          x-data-threescale-name: app_ids
        x-data-threescale-name: app_ids
      - description: App Key Authentication Parameter
        in: header
        name: app_key
        required: true
        schema:
          type: string
          x-data-threescale-name: app_keys
        x-data-threescale-name: app_keys
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RetrieveEntry'
          description: Successful response.
          headers:
            X-Request-Id:
              description: |
                A unique ID generated for the request.
                When reporting a problem with a specific request, include the returned X-Request-Id.
              schema:
                type: string
        "400":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            Invalid value for filters such as lexicalCategory, registers, domains, etc.
            Invalid value for fields projections accepted. It is not possible to project a non-existing field.
        "404":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: |
            No entry was found matching the selection parameters; OR
            an invalid filter was specified.
        "414":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: URL is too long.
        "500":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorSchema'
          description: Internal error. An error occurred during processing.
      summary: Check if an inflected form exists in the dictionary and retrieve the
        entries data of its root form.
      tags:
      - Words
      x-accepts: '*/*'
components:
  parameters:
    appId:
      description: App ID Authentication Parameter
      in: header
      name: app_id
      required: true
      schema:
        type: string
        x-data-threescale-name: app_ids
      x-data-threescale-name: app_ids
    appKey:
      description: App Key Authentication Parameter
      in: header
      name: app_key
      required: true
      schema:
        type: string
        x-data-threescale-name: app_keys
      x-data-threescale-name: app_keys
    domainsParam:
      description: |
        Selection filter: a comma-separated list of domains ids to match on (default: all domains).
        The available domains for a given language (or language pair) can be obtained from the /domains/ endpoint.

        The filter keeps all the senses and subsenses in the response whose domains "id" matches the values in the domains parameter.

        ```@javascript
        {
          "domains": [
            {
              "id": "jazz",
              "text": "Jazz"

            }]
        }
        ```
      in: query
      name: domains
      schema:
        type: string
    fieldsParam:
      allowEmptyValue: false
      description: |
        A comma-separated list of data fields to return for the matched entries.
        Valid field names are 'definitions', 'domains', 'etymologies', 'examples', 'pronunciations', 'regions', 'registers' and 'variantForms'.
        (a) If not specified, all available fields for each word_id are returned.
        (b) If specified and empty, the minimum payload for each word_id is returned.
        (c) If more field names are specified, then the minimum payload plus the specified fields for each word_id are returned.
      explode: false
      in: query
      name: fields
      schema:
        items:
          enum:
          - definitions
          - domains
          - etymologies
          - examples
          - pronunciations
          - regions
          - registers
          - variantForms
          type: string
        type: array
      style: form
    grammaticalFeaturesParam:
      description: |
        Selection filter: a comma-separated list of grammatical features ids to match on (default: all features).
        The available grammatical features for a given language (or language pair) can be obtained from the /grammaticalfeatures/ endpoint.

        The filter keeps all the entries in the response whose grammaticalFeatures "id" matches the values in the grammaticalFeatures parameter.
        ```@javascript
        {
          "grammaticalFeatures": [
                                  {
                                      "id": "mass",
                                      "text": "Mass",
                                      "type": "Countability"
                                  }
                              ]
        }
        ```
      in: query
      name: grammaticalFeatures
      schema:
        type: string
    lexicalCategoryParam:
      description: |
        Selection filter: a comma-separated list of lexical categories ids to match on (default: all categories).
        The available lexical categories for a given language (or language pair) can be obtained from the /lexicalcategories/ endpoint.

        The filter keeps all the entries in the response whose lexicalCategory "id" matches the values in the lexicalCategory parameter.
        ```@javascript
        {
          "lexicalCategory": {
                          "id": "adjective",
                          "text": "Adjective"
                      }
        }
        ```
      in: query
      name: lexicalCategory
      schema:
        type: string
    registersParam:
      description: |
        Selection filter: a comma-separated list of registers ids to match on (default: all registers).
        The available registers for a given language (or language pair) can be obtained from the /registers/ endpoint.

        The filter keeps all the senses and subsenses in the response whose registers "id" matches the values in the registers parameter.

        ```@javascript
        {
          "registers": [
            {
              "id": "informal",
              "text": "Informal"

            }]
        }
        ```
      in: query
      name: registers
      schema:
        type: string
    sourceLangBilingualParam:
      description: Language code of the source language in a bilingual dataset.
      in: path
      name: source_lang
      required: true
      schema:
        enum:
        - en
        - ar
        - de
        - el
        - es
        - ha
        - hi
        - id
        - it
        - mr
        - ms
        - nso
        - pt
        - qu
        - ru
        - te
        - tk
        - tn
        - tpi
        - tt
        - ur
        - xh
        - zh
        - zu
        type: string
    strictMatchParam:
      description: "Specifies whether diacritics must match exactly. If \"false\"\
        , near-homographs for the given word_id will also be selected (e.g., *rose*\
        \ matches both *rose* and *rosé*; similarly *rosé* matches both)."
      in: query
      name: strictMatch
      schema:
        default: false
        type: boolean
    targetLangBilingualParam:
      description: Language code of the target language in a bilingual dataset.
      in: path
      name: target_lang
      required: true
      schema:
        enum:
        - en
        - ar
        - de
        - el
        - es
        - fa
        - ha
        - hi
        - id
        - ig
        - it
        - ka
        - mr
        - ms
        - nso
        - pt
        - qu
        - ro
        - ru
        - tg
        - tk
        - tn
        - tpi
        - tt
        - xh
        - yo
        - zh
        - zu
        type: string
    thesaurusFieldsParam:
      allowEmptyValue: false
      description: |
        A comma-separated list of data fields to return for the matched entries.
        What to return - if specified, either 'synonyms', 'antonyms' or 'synonyms,antonyms'
        It cannot be empty.
      explode: false
      in: query
      name: fields
      schema:
        items:
          enum:
          - synonyms
          - antonyms
          type: string
        type: array
      style: form
    translationsFieldsParam:
      allowEmptyValue: false
      description: |
        A comma-separated list of data fields to return for the matched entries.
        Valid field names are 'definitions', 'domains', 'etymologies', 'examples', 'pronunciations', 'regions', 'registers', 'variantForms', 'translations'.
        (a) If not specified, all available fields for each word_id are returned.
        (b) If specified and empty, the minimum payload for each word_id is returned.
        (c) If more field names are specified, then the minimum payload plus the specified fields for each word_id are returned.
      explode: false
      in: query
      name: fields
      schema:
        items:
          enum:
          - definitions
          - domains
          - etymologies
          - examples
          - pronunciations
          - regions
          - registers
          - variantForms
          - translations
          type: string
        type: array
      style: form
  responses:
    EndpointNotFound:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: |
        Unknown endpoint.
    EntryNotFound:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: |
        No entry was found matching the selection parameters; OR
        an invalid filter was specified.
    EntrySuccessfulResponse:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/RetrieveEntry'
      description: Successful response.
      headers:
        X-Request-Id:
          description: |
            A unique ID generated for the request.
            When reporting a problem with a specific request, include the returned X-Request-Id.
          schema:
            type: string
    FiltersBadRequest:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: |
        Invalid value for filters such as lexicalCategory, registers, domains, etc.
        Invalid value for fields projections accepted. It is not possible to project a non-existing field.
    FiltersSuccessfulResponse:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Filters'
      description: Successful response.
      headers:
        X-Request-Id:
          description: |
            A unique ID generated for the request.
            When reporting a problem with a specific request, include the returned X-Request-Id.
          schema:
            type: string
    InternalServerError:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: Internal error. An error occurred during processing.
    LanguageNotFound:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: Unknown sourceLanguage and/or targetLanguage.
    SearchBadRequest:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: source_lang and target_lang can not be same; no words matching
        source_lang and/or translations; offset and limit exceeded 10000 together.
    SearchNotFound:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: |
        No entry was found matching the selection parameters.
    SearchSuccessfulResponse:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/Wordlist'
      description: Successful response. The Search endpoint is able to retrieve a
        max of 10000 results per query.
      headers:
        X-Request-Id:
          description: |
            A unique ID generated for the request.
            When reporting a problem with a specific request, include the returned X-Request-Id.
          schema:
            type: string
    ServiceUnavailable:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: The query is taking too long. Try to reduce the number of results
        by adding options such as min/max frequency.
    TranslationsBadRequest:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: source_lang and target_lang can not be same.
    UrlTooLong:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/ErrorSchema'
      description: URL is too long.
    UtilitySuccessfulResponse:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/UtilityLabels'
      description: Successful response.
      headers:
        X-Request-Id:
          description: |
            A unique ID generated for the request.
            When reporting a problem with a specific request, include the returned X-Request-Id.
          schema:
            type: string
  schemas:
    ArrayOfRelatedEntries:
      description: A list of written or spoken words
      items:
        properties:
          domains:
            $ref: '#/components/schemas/domainsList'
          id:
            description: The identifier of the word
            type: string
          language:
            description: IANA language code specifying the language of the word
            type: string
          regions:
            $ref: '#/components/schemas/regionsList'
          registers:
            $ref: '#/components/schemas/registersList'
          text:
            type: string
        required:
        - id
        - text
        type: object
      minItems: 1
      type: array
    BilingualEntry:
      example:
        grammaticalFeatures:
        - "{}"
        - "{}"
        homographNumber: homographNumber
        notes:
        - "{}"
        - "{}"
        crossReferenceMarkers:
        - crossReferenceMarkers
        - crossReferenceMarkers
        senses:
        - notes:
          - "{}"
          - "{}"
          regions: null
          synonyms:
          - "{}"
          - "{}"
          domains: null
          inflections:
          - grammaticalFeatures:
            - "{}"
            - "{}"
            regions: null
            lexicalCategory:
              id: id
              text: text
            domains: null
            registers: null
            inflectedForm: inflectedForm
            pronunciations:
            - "{}"
            - "{}"
          - grammaticalFeatures:
            - "{}"
            - "{}"
            regions: null
            lexicalCategory:
              id: id
              text: text
            domains: null
            registers: null
            inflectedForm: inflectedForm
            pronunciations:
            - "{}"
            - "{}"
          subsenses:
          - null
          - null
          crossReferenceMarkers:
          - crossReferenceMarkers
          - crossReferenceMarkers
          examples:
          - "{}"
          - "{}"
          datasetCrossLinks:
          - language: language
          - language: language
          semanticClasses: null
          translations:
          - "{}"
          - "{}"
          domainClasses: null
          shortDefinitions:
          - shortDefinitions
          - shortDefinitions
          antonyms:
          - "{}"
          - "{}"
          constructions:
          - notes:
            - "{}"
            - "{}"
            regions: null
            examples:
            - null
            - null
            translations:
            - "{}"
            - "{}"
            domains: null
            registers: null
            text: text
          - notes:
            - "{}"
            - "{}"
            regions: null
            examples:
            - null
            - null
            translations:
            - "{}"
            - "{}"
            domains: null
            registers: null
            text: text
          etymologies:
          - etymologies
          - etymologies
          registers: null
          variantForms:
          - "{}"
          - "{}"
          id: id
          thesaurusLinks:
          - null
          - null
          crossReferences:
          - "{}"
          - "{}"
          definitions:
          - definitions
          - definitions
          pronunciations:
          - "{}"
          - "{}"
        - notes:
          - "{}"
          - "{}"
          regions: null
          synonyms:
          - "{}"
          - "{}"
          domains: null
          inflections:
          - grammaticalFeatures:
            - "{}"
            - "{}"
            regions: null
            lexicalCategory:
              id: id
              text: text
            domains: null
            registers: null
            inflectedForm: inflectedForm
            pronunciations:
            - "{}"
            - "{}"
          - grammaticalFeatures:
            - "{}"
            - "{}"
            regions: null
            lexicalCategory:
              id: id
              text: text
            domains: null
            registers: null
            inflectedForm: inflectedForm
            pronunciations:
            - "{}"
            - "{}"
          subsenses:
          - null
          - null
          crossReferenceMarkers:
          - crossReferenceMarkers
          - crossReferenceMarkers
          examples:
          - "{}"
          - "{}"
          datasetCrossLinks:
          - language: language
          - language: language
          semanticClasses: null
          translations:
          - "{}"
          - "{}"
          domainClasses: null
          shortDefinitions:
          - shortDefinitions
          - shortDefinitions
          antonyms:
          - "{}"
          - "{}"
          constructions:
          - notes:
            - "{}"
            - "{}"
            regions: null
            examples:
            - null
            - null
            translations:
            - "{}"
            - "{}"
            domains: null
            registers: null
            text: text
          - notes:
            - "{}"
            - "{}"
            regions: null
            examples:
            - null
            - null
            translations:
            - "{}"
            - "{}"
            domains: null
            registers: null
            text: text
          etymologies:
          - etymologies
          - etymologies
          registers: null
          variantForms:
          - "{}"
          - "{}"
          id: id
          thesaurusLinks:
          - null
          - null
          crossReferences:
          - "{}"
          - "{}"
          definitions:
          - definitions
          - definitions
          pronunciations:
          - "{}"
          - "{}"
        etymologies:
        - etymologies
        - etymologies
        variantForms:
        - "{}"
        - "{}"
        crossReferences:
        - "{}"
        - "{}"
        inflections:
        - grammaticalFeatures:
          - "{}"
          - "{}"
          regions: null
          lexicalCategory:
            id: id
            text: text
          domains: null
          registers: null
          inflectedForm: inflectedForm
          pronunciations:
          - "{}"
          - "{}"
        - grammaticalFeatures:
          - "{}"
          - "{}"
          regions: null
          lexicalCategory:
            id: id
            text: text
          domains: null
          registers: null
          inflectedForm: inflectedForm
          pronunciations:
          - "{}"
          - "{}"
        pronunciations:
        - "{}"
        - "{}"
      properties:
        crossReferenceMarkers:
          items:
            type: string
          type: array
        crossReferences:
          description: "A reference to another word that is closely related, might\
            \ provide additional information about the subject, has a variant spelling\
            \ or is an abbreviated form of it."
          items:
            description: cross references of a sense
            properties:
              id:
                description: The word id of the co-occurrence
                type: string
              text:
                description: The word of the co-occurrence
                type: string
              type:
                description: "The type of relation between the two words. Possible\
                  \ values are 'close match', 'related', 'see also', 'variant spelling',\
                  \ and 'abbreviation' in case of crossreferences, or 'pre', 'post'\
                  \ in case of collocates."
                type: string
            required:
            - id
            - text
            - type
            type: object
          minItems: 1
          type: array
        etymologies:
          items:
            type: string
          type: array
        grammaticalFeatures:
          description: The different forms are correlated with meanings or functions
            which we text as 'features'
          items:
            properties:
              id:
                type: string
              text:
                type: string
              type:
                type: string
            required:
            - id
            - text
            - type
            type: object
          minItems: 1
          type: array
        homographNumber:
          description: Identifies the homograph grouping. The last two digits identify
            different entries of the same homograph. The first one/two digits identify
            the homograph number.
          type: string
        inflections:
          description: A list of inflected forms for an Entry.
          items:
            $ref: '#/components/schemas/InflectedForm'
          minItems: 1
          type: array
        notes:
          description: various types of notes that appear
          items:
            properties:
              id:
                description: The identifier of the word
                type: string
              text:
                description: A note text
                type: string
              type:
                description: The descriptive category of the text
                type: string
            required:
            - text
            - type
            type: object
          minItems: 1
          type: array
        pronunciations:
          description: A list of possible pronunciations of a word
          items:
            description: A grouping of pronunciation information
            properties:
              audioFile:
                description: The URL of the sound file
                type: string
              dialects:
                $ref: '#/components/schemas/arrayofstrings'
              phoneticNotation:
                description: The alphabetic system used to display the phonetic spelling
                type: string
              phoneticSpelling:
                description: Phonetic spelling is the representation of vocal sounds
                  which express pronunciations of words. It is a system of spelling
                  in which each letter represents invariably the same spoken sound
                type: string
              regions:
                $ref: '#/components/schemas/regionsList'
              registers:
                $ref: '#/components/schemas/registersList'
            type: object
          minItems: 1
          type: array
        senses:
          description: Complete list of senses for bilingual entries
          items:
            $ref: '#/components/schemas/BilingualSense'
          minItems: 1
          type: array
        variantForms:
          description: "Various words that are used interchangeably depending on the\
            \ context, e.g 'aluminium' and 'aluminum'"
          items:
            properties:
              domains:
                $ref: '#/components/schemas/domainsList'
              notes:
                $ref: '#/components/schemas/CategorizedTextList'
              pronunciations:
                $ref: '#/components/schemas/PronunciationsList'
              regions:
                $ref: '#/components/schemas/regionsList'
              registers:
                $ref: '#/components/schemas/registersList'
              text:
                type: string
            required:
            - text
            type: object
          minItems: 1
          type: array
      type: object
    BilingualExamplesList:
      description: A list of written or spoken rendering of examples of use of a word
        or text
      items:
        properties:
          collocations:
            $ref: '#/components/schemas/CrossReferencesList'
          crossReferenceMarkers:
            $ref: '#/components/schemas/arrayofstrings'
          crossReferences:
            $ref: '#/components/schemas/CrossReferencesList'
          definitions:
            $ref: '#/components/schemas/arrayofstrings'
          domains:
            $ref: '#/components/schemas/domainsList'
          notes:
            $ref: '#/components/schemas/CategorizedTextList'
          regions:
            $ref: '#/components/schemas/regionsList'
          registers:
            $ref: '#/components/schemas/registersList'
          senseIds:
            $ref: '#/components/schemas/arrayofstrings'
          text:
            type: string
          translations:
            $ref: '#/components/schemas/TranslationsList'
        required:
        - text
        type: object
      minItems: 1
      type: array
    BilingualHeadwordEntry:
[...]
